h1 {
    font-size: 24pt;
    color: red;
    font-family: Tahoma, Helvetica, sans-serif;
    text-decoration: underline;
  }
  h2 {
    font-size: normal;
    color: blue;
    background-color: lightgrey;
    font-weight: bold;
  }
  li {
    list-style-type: square;
  }
      